<div class="home-wrapper">
    <img src="background.png" alt="Pato Espacial de Fundo" class="background-image">

    <div class="overlay"></div>
    
    <div class="content-overlay">
        <h1>Bem-vindo à Missão Pato Espacial!</h1>
        <p>Após a guerra, veio o silêncio. E no silêncio, ouvimos o grasnar do nosso fim. Os Patos Primordiais, um desvio esquecido da evolução, voltaram para desfazer o mundo. A caçada pela sobrevivência começou.</p>
        
        <div class="mission-buttons">
            <button class="mission-btn mission-1" routerLink="/catalog" (click)="playQuackSound('catalog')">
                <div class="btn-icon">📊</div>
                <div class="btn-content">
                    <h3>1ª Missão</h3>
                    <p>Catálogo de Patos Primordiais</p>
                    <span class="btn-subtitle">Sistema de coleta de dados</span>
                </div>
            </button>
            
                <button class="mission-btn mission-2" routerLink="/analysis" (click)="playQuackSound('analysis')">
                <div class="btn-icon">🎯</div>
                <div class="btn-content">
                    <h3>2ª Missão</h3>
                    <p>Planejamento de Captura</p>
                    <span class="btn-subtitle">Análise de risco e custo</span>
                </div>
            </button>
            
            <button class="mission-btn mission-3" routerLink="/capture" (click)="playQuackSound('capture')">
                <div class="btn-icon">🚀</div>
                <div class="btn-content">
                    <h3>3ª Missão</h3>
                    <p>Em Busca dos Patos Primordiais</p>
                    <span class="btn-subtitle">Controle de drones de combate</span>
                </div>
            </button>
        </div>
        
        <div class="mission-description">
            <p><strong>Não podemos lutar contra o que não conhecemos. Nossa estratégia é clara:</strong> primeiro, conhecer o inimigo, catalogando cada variação dos Patos Primordiais. Depois, planejar a captura perfeita com base em suas fraquezas. E só então, caçar, garantindo que o silêncio do nosso planeta nunca mais seja quebrado pelo grasnar do fim.</p>
        </div>
        <a href="https://www.linkedin.com/in/matheus-floresti-ferrari-17572a287" target="_blank" class="btn-linkedin">
  <img src="linkedin-icon.png" alt="LinkedIn" />
</a>

    </div>